@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --text-color: black;
  --font-family: "Roboto", sans-serif;
}

body {
}
h1 {
  color: rgb(238, 105, 49);
  font-family: var(--font-family);
  font-size: 45px;
  font-weight: bold 225px;
  line-height: normal;
  letter-spacing: 2.5px;
}

h2 {
  padding: 30px;
  color-scheme: orange;
}

.about-h2 {
  color: orange;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 2.5px;
}
.project-h2 {
  color: orange;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 2.5px;
}

.text-center {
  text-align: center;
}

p {
  color: white;
}
a {
  color: white;
  text-decoration: none;
}

blockquote {
  color: white;
  padding: 10px;
}
cite {
  color: orange;
  padding: 10px;
}

.buttonfind {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: white;
  display: inline-block;
  padding: 10px;
  border-radius: 30px;
  border: 2px solid rgb(238, 105, 49);
  padding-bottom: 10px;
}
.button-view {
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  padding-bottom: 10px;
  border: 2px solid rgb(213, 73, 22);
  border-radius: 30px;
}
.img-about {
  display: flow-root;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 50%;
  opacity: 0.8;
  border: 2px orange;
}
.container-sec-proj {
  justify-content: left;
  flex-direction: column;
  justify-content: space-around;
}
.container-proj {
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 100%;
  padding: 30px;
  margin: 20px;
  border: 1px solid rgb(243, 89, 6);
  border-radius: 15px;
}
.flex-container {
  height: 100%;
  padding: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-container-about {
  display: flexbox;
  flex-direction: row-reverse;
  align-items: center;
  padding: 45px;
}

.flex-item {
  text-align: center;
}

.boxintro {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 800px;
}

.box-about {
  width: 100%;
  height: 850px;
  margin: auto;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
.container {
  position: relative;
  width: 50%;
}

.image-about {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.box-project {
  width: 100%;
  height: 850px
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

footer {
  background-color: orange;
  border: 2px solid black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.page-project {
  background-color: rgb(0, 0, 0);
  border: 2px solid white;
  padding: 20px;
  width: 100%;
  height: 350px;
  text-align: center;
}
.container-contact {
  width: 100%;
  height: 100px;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  border: orangered;
  text-align: center;
}
.button-source {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
  border: 2px solid rgb(238, 105, 49);
  padding-bottom: 10px;
}
