@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "variables";
@import "buttons";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
h1 {
  color: $color-primary;
  font-family: $color-primary;
  font-size: 50px;
  font-weight: bold 225px;
  line-height: normal;
  letter-spacing: 2.5px;
}

h2 {
  padding: 30px;
  color-scheme: orange;
  font-size: 45px;
}
h3 {
  color: $color-primary;
  font-weight: bold;
  font-size: 25px;
}

.about-h2 {
  color: $color-primary;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  border: 10px;
  margin: 15px;
  letter-spacing: 5px;
}
.project-h2 {
  color: $color-primary;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 2.5px;
}

.text-center {
  text-align: center;
}

p {
  color: white;
}
a {
  color: white;
  text-decoration: none;
}

blockquote {
  color: white;
  padding: 10px;
}
cite {
  color: $color-primary;
  padding: 10px;
}

.button-view {
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border: 2px solid $color-primary;
  border-radius: 30px;
  display: inline-block;
}
.img-about {
  display: flex;
  justify-content: center;
  width: 500px;
  border-radius: 50%;
  align-items: center;
}
@media (max-width: 1024px) {
  .img-about {
    width: 95%;
  }
}

.container-sec-proj {
  justify-content: left;
  flex-direction: column;
  justify-content: space-around;
}
.container-proj {
  justify-content: space-between;
  flex-direction: row-reverse;
  -ms-flex-align: center;
  height: 100%;
  padding: 30px;
  margin: 20px;
  border: 1px solid $color-primary;
  border-radius: 15px;
}

.flex-container {
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 45px;
}

.flex-item {
  text-align: center;
}

.boxintro {
  background-color: $background-color;
  width: 100%;
  height: 900px;
}

.box-about {
  width: 100%;
  height: 1000px;
  margin: auto;
  border: 0.5px solid $color-primary;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.container {
  position: relative;
  width: 50%;
}

.box-project {
  width: 100%;
  background-color: $background-color;
  padding: 50px;
}
.viewmore-talk {
  padding: 30px;
  text-align: center;
}

.v-more {
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 20px;
  margin: 80px;
  border-radius: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;

  &:hover {
    color: black;
    transition: 500ms;
  }
}
footer {
  background-color: $color-primary;
  padding: 10px;
  display: flex;
  flex-direction: column;

  p {
    color: black;
    text-align: center;
  }
}

ul {
  list-style-type: none;
}

.page-project {
  background-color: rgb(0, 0, 0);
  border: 2px solid white;
  padding: 20px;
  width: 100%;
  height: 350px;
}
.img-proj {
  display: flow-root;
  width: 500px;
  border-radius: 2%;
  border: 2px $color-primary;
}

@media (max-width: 1024px) {
  .img-proj {
    width: 95%;
  }
}

.flex-container-contact {
  display: flexbox;
  align-items: center;
  text-align: center;
  padding: 45px;
}

.article {
  margin: 40px;
}

@media (min-width: 1024px) {
  .article {
    display: flex;
    border: 2px solid $color-primary;
    border-radius: 30px;
    margin: 40px;
    padding: 50px;
    flex-wrap: nowrap;
  }
  .project-article {
    margin-right: 40px;
  }
}
.button {
  display: flex;
  padding: 14px 15px;
  border-radius: 5px;
  border: 2px solid $color-primary;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
}

.button-primary {
  display: flex;
  padding: 14px 15px;
  border-radius: 5px;
  border: 2px solid $color-primary;
  margin: 10px;
  cursor: pointer;
  display: inline-block;

  &:hover {
    border: 5px white;
    background-color: $color-primary;
    color: rgb(255, 255, 255);
    transition: 500ms;
  }
}

.button-secondary {
  border: 5px white;
  background-color: $color-primary;
  color: rgb(255, 255, 255);

  &:hover {
    background-color: white;
    color: black;
    transition: 500ms;
  }
}
.link-contato {
  text-decoration: none; // Remove a formatação de sublinhado padrão
  color: #000000; // Cor do texto do link

  i {
    margin-right: 10px; // Espaçamento entre o ícone e o texto
    font-size: larger;
  }
}
